---
Checks: >
  bugprone-*,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-using,
  readability-identifier-naming,
  performance-unnecessary-value-param,
  performance-for-range-copy,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions
HeaderFilterRegex: 'PowerGrid/.*'
CheckOptions:
  - key:   readability-identifier-naming.ClassCase
    value: CamelCase
  - key:   readability-identifier-naming.FunctionCase
    value: camelCase
  - key:   readability-identifier-naming.VariableCase
    value: camelCase
